[Unit]
Description=confd

[Service]
EnvironmentFile=-/etc/sysconfig/cloudify-confd
ExecStart=/opt/cloudify/confd/confd \
	-interval 10 \
	-backend consul \
	-node {{ ctx.instance.host_ip }}:8500

Restart=always
RestartSec=10s
LimitNOFILE=40000

[Install]
WantedBy=multi-user.target
