[Unit]
Description=stolon sentinel

[Service]
ExecStart=/opt/cloudify/stolon/bin/stolon-sentinel \
    --cluster-name {{ ctx.node.properties.cluster_name }} \
    --store-backend etcd \
    --listen-address {{ ctx.instance.host_ip }} \
    --initial-cluster-config /opt/cloudify/stolon/initial_cluster_config.json

Restart=always
RestartSec=10s
LimitNOFILE=40000

[Install]
WantedBy=multi-user.target
