[Unit]
Description=etcd key-value store
Documentation=https://github.com/coreos/etcd

[Service]
EnvironmentFile=-/etc/sysconfig/cloudify-etcd
ExecStart=/opt/cloudify/etcd/etcd \
    --listen-peer-urls http://{{ ctx.instance.host_ip }}:2380 \
    --listen-client-urls http://localhost:2379,http://{{ ctx.instance.host_ip }}:2379 \
    --advertise-client-urls http://localhost:2379,http://{{ ctx.instance.host_ip }}:2379 \
    --name {{ ctx.instance.id }} \
    --initial-advertise-peer-urls http://{{ ctx.instance.host_ip }}:2380 \
    --data-dir /opt/cloudify/etcd/data.etcd \
    --discovery {{ ctx.instance.runtime_properties.etcd_discovery_token }}

Restart=always
RestartSec=10s
LimitNOFILE=40000

[Install]
WantedBy=multi-user.target
